.about-widget {
  padding: 100px 0;
  .mission {
    .divider {
    }
    img {
      float: right;
    }
  }
  .vision {
    padding: 40px 0;
    background: lighten( $blue-light, 5%);
    background-image: url('widgets/awareness/img/dna_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid rgba(0,0,0,0.1);
    p{
      font-size: rem-calc(23);
    }
  }
  .who-we-are {
    margin-top: 100px;
    ul {
      margin-top: 40px;
      li {
        list-style: none;
        img {
          display: block;
          margin: 0 auto;
        }
        text-align: center;
      }
    }
  }
  .partners {
    margin-top: 50px;
    padding-bottom: 50px;
    ul {
      margin-top: 40px;
      li {
        list-style: none;
        img {
          display: block;
          margin: 0 auto;
        }
        text-align: center;
      }
    }
  }
  .partners-list {
    h3 {
      margin-left: 20%;
    }
    ul {
      margin: 0 auto;
      padding: 40px 0 40px 0;
      max-width: 77.71429rem;
      max-height: 400px;
      overflow-y: auto;
    }
    .partner {
      position: relative;
      padding-top: 20px;
      height: 190px;
      background: $white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      text-align: center;

      img {
        max-height: 100px;
      }
    }
    .partners-title {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0px;
      padding: 10px 20px;
      color: rgba(0,0,0,0.6);
      background: $blue-light;
      border-bottom: 2px solid rgba(0,0,0,0.2);
    }
    li:hover {
      cursor: pointer;
      .partners-title {
        color: $white;
        background: $blue;
      }
    }
    li:last-child {
      button {
        margin-top: 10%;
      }
    }
    @media #{$large-up} {
      li:last-child {
        button {
          margin-top: 30%;
        }
      }
    }
    .apply {
      left: 62%;
      margin-bottom: -20px;
    }
  }
}

#whoWeAre {
  ul {
    padding: 0;
  }
  h3 {
    display: block;
    text-align: center;
    margin-top: 20px;
    border-bottom: none;
  }
  .partners-list {
    .partners-title {
      background: none;
      border: none;
    }
    li:hover {
      .partners-title {
        color: $blue;
        border-color: $blue;
      }
    }
    img {
      max-height: 50px;
    }
  }
}

#partners {
  padding-top: 50px;
  background: lighten( $blue-light, 5%);
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .divider {
    strong {
      color: $blue;
    }
    :after {
      border-color: $blue;
    }
  }

  h3 {
    color: $blue;
    border-color: $blue;
  }
}
