.action-bar-mini {
  background: #fed384;

  ul {
    @include grid-row();
    list-style: none;
    text-align: center;

    li {
      padding-bottom: .5em;
      border-left: 1px solid rgba(255,255,255,0.5);
    }

    li:first-child {
      @include grid-column($columns:12);

      @media #{$medium-up} {
        @include grid-column($columns:7);
      }


    }

    li:last-child {
      @include grid-column($columns:12);
      border-right: 1px solid rgba(255,255,255,0.5);

      @media #{$medium-up} {
        @include grid-column($columns:5);
      }
    }
  }

  .action {
    @include grid-row();
    padding: 1.2em 0 0em 0;

    header {
      @include grid-column($columns:12);

      i {
         color:  rgba(255,255,255,0.9);
      }

      h3 {
        position: relative;
        color: rgba(0,0,0,0.6);
        font-weight: 700;
        margin-bottom: 2em;

        &:after {
          position: absolute;
          bottom: -13px;
          left: 0;
          right: 0;
          margin: auto;
          width: 40px;
          height: 1px;
          background: rgba(255,255,255,0.9);
          content: "";
        }
      }

      p {
        color: rgba(0,0,0,0.4);
      }

      @media #{$large-up} {
        @include grid-column($columns:7);
      }
    }
    .content {
      @include grid-column($columns:12);
      padding-top: 1.2em;

      @media #{$large-up} {
        @include grid-column($columns:5);
        padding-top: 1.8em;
      }
    }
  }

  #action-newsletter {
    @include grid-row();

    header {

      @media #{$large-up} {
        @include grid-column($columns:5);
      }
    }
    .content {

      @media #{$large-up} {
        @include grid-column($columns:7);
      }
    }
  }

}
