.media-widget {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    .title {
      color: $blue-medium;
      font-size: 14px;
      font-weight: 700;
    }
    .meta {
      color: #aaa;
      font-size: 12px;
    }
  }
}
