.partners-bar {
  @include grid-row();
  img {
    width: 200px;
    display: block;
    margin: 0 auto;
  }
}

.partners-list {
  @include block-grid($per-row: 2, $spacing: $block-grid-default-spacing, $base-style: true);

  @media #{$medium-up} {
    @include block-grid($per-row: 3, $spacing: $block-grid-default-spacing, $base-style: true);
  }

  @media #{$large-up} {
    @include block-grid($per-row: 4, $spacing: $block-grid-default-spacing, $base-style: true);
  }
}
