<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<header>
  <div class="row collapse photos">
    <div class="column small-3" rv-each-photolist="widget:photoLists">
      <img rv-each-photo="photolist" rv-src="photo" />
    </div>
  </div>
  <div id="overlay"></div>
  <div class="content">
    <img class="logo" rv-src="widget:logo" />
    <h2 class="tagline">Let's end secular discrimination and increase acceptance<small>by being open about our beliefs</small></h2>
    <button rv-on-click="widget.play"><i class="fa fa-play"></i></button>
  </div>
</header>

<footer>
  <nav>
    <a href="#" rv-on-click="widget.toMission" rv-class-active="widget:activeSection | eql mission">Mission</a>
    <a href="#" rv-on-click="widget.toWhoWeAre" rv-class-active="widget:activeSection | eql whoWeAre">Who We Are</a>
    <a href="#" rv-on-click="widget.toPartners" rv-class-active="widget:activeSection | eql partners">Partners &amp; Allies</a>
    <a href="#" rv-on-click="widget.toFAQ" rv-class-active="widget:activeSection | eql faq">FAQ</a>
    <a href="#" rv-on-click="widget.toMedia" rv-class-active="widget:activeSection | eql media">Media</a>
    <a href="#" rv-on-click="widget.showContact">Contact</a>
  </nav>
</footer>

<div id="placeholder"></div>

<div id="sections" rv-autoscroll="widget:page">

  <section id="home">
    <div class="action-bar">
      <div class="row collapse">
        <div class="action subscribe-action column small-12 medium-4" id="sign-up">
          <h4><i class="fa fa-lg fa-paper-plane"></i> Stay Informed</h4>
          <div rv-if="widget:subscribeStep | eql 1">
            <p>Sign up for our newsletter.</p>
            <form rv-on-submit="widget.nextSubscribeStep">
              <div class="row collapse">
                <div class="small-10 columns">
                  <input rv-value="widget:subscribeEmail" type="email" name="email" class="subscribe-input" placeholder="Email address">
                </div>
                <div class="small-2 columns">
                  <button type="submit" class="button postfix"><i class="fa fa-arrow-right"></i></button>
                </div>
              </div>
            </form>
          </div>
          <div rv-if="widget:subscribeStep | eql 2">
            <p>Thanks! You are all set.<br>But you should let us know your name.</p>
            <form rv-on-submit="widget.nextSubscribeStep">
              <div class="row collapse">
                <div class="small-10 columns">
                  <input rv-value="widget:subscribeName" type="text" class="subscribe-input" placeholder="Full Name">
                </div>
                <div class="small-2 columns">
                  <button type="submit" class="button postfix"><i class="fa fa-arrow-right"></i></button>
                </div>
              </div>
            </form>
          </div>
          <div rv-if="widget:subscribeStep | eql 3">
            <p>Great! Thanks for signing up.<br>Keep your friends informed too.</p>
          </div>
        </div>
        <div class="action column small-6 medium-4" id="donate">
          <h4><i class="fa fa-lg fa-heart"></i> Make a Donation</h4>
          <p>
            Contribute towards a difference.
            <br><small>All donations are tax-deductable.</small> <span class="faq-link">FAQ</span>
          </p>
          <form>
            <button rv-on-click="widget.showDonation" class="small">Donate</button>
          </form>
        </div>
        <div class="action column small-6 medium-4">
          <h4><i class="fa fa-lg fa-group"></i> Get Involved</h4>
          <p> Share your own story.  </p>
          <form>
            <button  class="small">Share</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <div rv-widget-about></div>

  <div rv-widget-faq></div>

  <section id="media" rv-widget-media></section>


</div>

<div rv-widget-donation></div>
<div rv-widget-contact></div>
<div rv-widget-video></div>

<!--=========================================================================-->
<!-- This file is part of Widget Server.                                     -->
<!--                                                                         -->
<!-- Widget Server is Copyright 2014 Volary Foundation and Contributors      -->
<!--                                                                         -->
<!-- Widget Server is free software: you can redistribute it and/or modify it-->
<!-- under the terms of the GNU Affero General Public License as published   -->
<!-- by the Free Software Foundation, either version 3 of the License, or    -->
<!-- at your option) any later version.                                      -->
<!--                                                                         -->
<!-- Widget Server is distributed in the hope that it will be useful, but    -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of              -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU       -->
<!-- Affero General Public License for more details.                         -->
<!--                                                                         -->
<!-- You should have received a copy of the GNU Affero General Public        -->
<!-- License along with Widget Server.  If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                         -->
<!--=========================================================================-->
