@import "app/assets/stylesheets/normalize";
@import "app/assets/stylesheets/foundation/_settings";
@import "app/assets/stylesheets/foundation";

$brand-primary: <%= brandPrimary %>;

body {
  background: #fff;
}

.top-header {
  background: #fff;
  padding: 0 0 20px 0;
}

$divider-size: 30;
.divider {
  border-top: 2px solid #ccc;
  text-align: center;
  font-weight: bold;
  strong {
    display: block;
    &:before {
      content: "";
      height: #{$divider-size}px;
      width: #{$divider-size}px;
      border-radius: #{$divider-size / 2}px;
      border: 1px solid #aaa;
      display: block;
      background: #ccc;
      margin: -#{$divider-size / 2}px auto 5px;
    }
  }
  &.inline-divider {
    border-top: 1px solid #ccc;
    strong {
      margin-top: -#{$divider-size / 2}px;
      line-height: #{$divider-size}px;
      height: #{$divider-size}px;
      vertical-align: top;
      display: inline-block;
      padding: 0 25px;
      background: #fff;
      &:before {
        display: inline-block;
        margin-top: 0;
        margin-right: 10px;
      }
    }
  }
}

.header-bar {
  @include grid-row();

  .logo {
    @include grid-column($columns: 12, $collapse: true);
    text-align: center;

    img {
      max-width: 300px;
    }

    @media #{$medium-up} {
      @include grid-column($columns: 4, $collapse: true);
      img {
        max-width: 150px;
      }
    }
  }

  nav {
    @include grid-column($columns: 12, $collapse: true);
    background: #88aacc;
    max-height: 47px;

    @media #{$medium-up} {
      @include grid-column($columns: 8, $collapse: true);
      margin-top: 4.5em;
    }

    ul {
      @include inline-list;
      margin: 0;
      padding: 0;

      &.donate-button {
        float: right;
        border-left: 2px solid #fff;

        a {
          background: $alert-color;
          border: none;

          &:hover {
            background: #cf280e;
          }
        }
      }

      li {
        margin: 0;
        padding: 0;
      }
    }

    a {
      color: #fff;
      padding: 1rem 2rem .9rem 2rem;
      font-size: rem-calc(13);
      margin: 0;
      position: relative;
      text-align: center;
      border-bottom: 2px solid transparent;
    }

    a:hover {
      background: rgba(0,0,0,0.1);
      border-bottom: 2px solid $primary-color;
    }

  }
}

.action-bar {
  background: $primary-bg-color;
  margin-bottom: 20px;

  ul {
    @include grid-row();
    list-style: none;
    text-align: center;

    li {
      min-height: 200px;
      border-left: 1px solid rgba(255,255,255,0.5);

      @media #{$medium-up} {
        @include grid-column($columns:6, $collapse: true);
      }

      @media #{$large-up} {
        @include grid-column($columns:4, $collapse: true);
      }
    }

    @media #{$medium-only} {
      li:first-child {
        @include grid-column($columns:12, $collapse: true);
        border-bottom: 1px solid rgba(255,255,255,0.5);
      }
    }

    li:last-child {
      border-right: 1px solid rgba(255,255,255,0.5);
    }
  }

  #action-newsletter > article {
    .content {
      padding: 3px 0;
    }
  }

  .action {
    padding: 1em;

    header {
      margin-bottom: 3em;

      i {
         color:  rgba(255,255,255,0.9);
      }

      h3 {
        position: relative;
        color: rgba(0,0,0,0.6);
        font-weight: 700;
        margin-bottom: 2em;

        &:after {
          position: absolute;
          bottom: -13px;
          left: 0;
          right: 0;
          margin: auto;
          width: 40px;
          height: 1px;
          background: rgba(255,255,255,0.9);
          content: "";
        }
      }

      p {
        color: rgba(0,0,0,0.4);
      }
    }

    &.focused {
      background:  darken( $primary-bg-color, 5% );;
    }
  }


}


.footer-nav {
  background: #333;
  padding: 2em 0;

  nav {
    @include grid-row();
  }
}
