<dialog rv-modal="widget:visible" class="donation-widget" open>
  <div class="close" rv-on-click="widget.hide"><i class="fa fa-times"></i></div>

  <div class="inner">
    <div class="steps">
      <div class="lock"><i class="fa fa-lock"></i>Secure</div>
      <div class="inner">
        <div class="done active" rv-class-done="widget:step | gt 1" rv-class-active="widget:step | eql 1">
          <strong>1</strong>
          <i class="fa fa-heart active"></i>
          <i class="fa fa-check done"></i>
          <span class="step-info">Donation</span>
        </div>
        <span rv-class-active="widget:step | gt 1"></span>
        <div rv-class-done="widget:step | gt 2" rv-class-active="widget:step | eql 2">
          <strong>2</strong>
          <i class="fa fa-heart active"></i>
          <i class="fa fa-check done"></i>
          <span class="step-info">Payment</span>
        </div>
        <span rv-class-active="widget:step | gt 2"></span>
        <div rv-class-done="widget:step | eql 3" rv-class-active="widget:step | eql 3">
          <strong>3</strong>
          <i class="fa fa-heart active"></i>
          <i class="fa fa-check done"></i>
          <span class="step-info">Success</span>
        </div>
      </div>
    </div>


    <form class="row">
      <a href="#" rv-on-click="widget.showFaq" class="faq-link">FAQ</a>
      <div rv-show="widget:step | eql 1">
        <div class="error-field" rv-show="widget:errors">
          <ul class="error">
            <li rv-each-error="widget:errors">{ error }</li>
          </ul>
        </div>
        <div class="column medium-12 large-6">
          <div class="amount-section">
            <label>Select an amount:</label>
            <div class="amounts">
              <div class="amount column small-4" rv-each-preset="widget:presetAmounts" rv-on-click="widget.setAmount" rv-class-active="preset:active"><span>${ preset:amount }</span></div>
            </div>
            <div class="divider">
              <strong>OR</strong>
            </div>
            <label>Enter your own:</label>
            <input type="text" rv-value="widget:customAmount" />
          </div>
        </div>

        <div class="column medium-12 large-6 amount-meta">
          <div class="row collapse">
          <fieldset>
            <div class="column small-12">
              <input id="recurring" type="checkbox" rv-value="widget:donation:recurring" />
              <label for="recurring">Recurring</label>
            </div>
            <select class="column small-12" rv-show="widget:donation:recurring" rv-value="widget:donation:recurringFrequency">
              <option>week</option>
              <option>month</option>
              <option>year</option>
            </select>
          </fieldset>
          <br>
          <fieldset>
            <div class="column small-12">
              <input id="anonymous" type="checkbox" rv-value="widget:donation:anonymous" />
              <label for="anonymous">List my donation anonymously</label>
            </div>
          </fieldset>
          <fieldset>
            <div class="column small-12">
              <label>Let us know why you chose to donate?</label>
              <select rv-value="widget:reason">
                <option value="none">Decline to say</option>
                <option value="inspired">I was inspired to be open because of Openly Secular, and wanted to help others be open too!</option>
                <option value="video">I saw one of the videos, and it made me want to support the campaign.</option>
                <option value="other">Something else inspired me to give!</option>
              </select>
            </div>
          </fieldset>
          </div>
        </div>

        <div class="next-steps column small-12">
          <button rv-on-click="widget.back" class="small secondary back">Cancel</button>
          <button rv-on-click="widget.next" class="small next">Continue</button>
        </div>
      </div>

      <div rv-show="widget:step | eql 2">
        <div class="error-field" rv-show="widget:errors">
          <ul class="error">
            <li rv-each-error="widget:errors">{ error }</li>
          </ul>
        </div>
        <div class="column small-12 large-6 personal-details">
          <label>Name:</label>
          <div class="row">
            <div class="column small-6"><input type="text" rv-value="widget:donation:firstName" placeholder="First" /></div>
            <div class="column small-6"><input type="text" rv-value="widget:donation:lastName" placeholder="Last" /></div>
          </div>
          <label>Address:</label>
          <input type="text" rv-value="widget:donation:address1" placeholder="Address 1">
          <input type="text" rv-value="widget:donation:address2" placeholder="Address 2">
          <div class="row">
            <div class="column small-6"><input type="text" rv-value="widget:donation:city" placeholder="City" /></div>
            <div class="column small-3"><input type="text" rv-value="widget:donation:state" placeholder="State" /></div>
            <div class="column small-3"><input type="text" rv-value="widget:donation:zip" placeholder="Zip" /></div>
          </div>
          <label>Email:</label>
          <input type="text" rv-value="widget:donation:email" placeholder="Email Address">
        </div>
        <div class="column small-12 large-6 payment-details">
          <div class="credit-card">
          <div class="row collapse">
            <div class="column small-8 stripe"><span rv-if="widget:donation:recurring"> recurring { widget:donation:recurringFrequency }</span></div>
            <strong class="column small-4 total">${ widget:donation:amount }</strong>
          </div>
          <div class="card-details">
            <label>Card Number:</label>
            <input type="text" rv-value="widget:donation:cardNumber" maxlength="16" placeholder="xxxx xxxx xxxx xxxx" />
            <label>Card Expiration:</label>
            <select rv-value="widget:donation:cardExpiration.month" class="column small-7">
              <option value="" selected>Month</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <select rv-value="widget:donation:cardExpiration.year" class="column small-5">
              <option value="" selected>Year</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
            </select>
          </div>
        </div>
        </div>
        <div class="next-steps column small-12">
          <button rv-on-click="widget.back" class="small secondary back">Back</button>
          <button rv-on-click="widget.next" rv-disabled="widget:loading" rv-class-disabled="widget:loading" class="small next">{ widget:confirmText }</button>
        </div>
      </div>

    <div rv-if="widget:step | eql 3">
      <div class="action column small-6 medium-4">
        <h4><i class="fa fa-lg fa-bullhorn"></i> Increase your Impact</h4>
        <p> Inform all your friends.  </p>
        <a href="https://twitter.com/home?status=@openlysecular%20I%20just%20donated%20to%20www.openlysecular.org%20because%20I%20want%20to%20end%20secular%20discrimination" target="blank" class="button tiny twitter"><i class="fa fa-fw fa-twitter"></i> Tweet</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.openlysecular.org" target="blank" class="button tiny facebook"><i class="fa fa-fw fa-facebook"></i> Share</a></p>
      </div>
      <div class="column small-6 medium-8">
        <div class="divider">
          <strong>Thank you!</strong>
        </div>
        <p>Thank you for supporting Openly Secular! Without you this effort to end discrimination against secular people would not be possible.</p>
        <p>Your gift to Openly Secular will be shared by the Richard Dawkins Foundation For Reason and Science (EIN: 98-0499347) and the Secular Student Alliance (EIN: 41-1967141), two of the organizations making Openly Secular possible. You can learn more about these organizations making Openly Secular happen below.</p>
        <p>Thanks again for your gift!</p>
      </div>
      <div class="next-steps column small-12">
        <button rv-on-click="widget.hide" class="small next">Close</button>
      </div>
    </form>

  </div>
</dialog>

<!--=========================================================================-->
<!-- This file is part of Widget Server.                                     -->
<!--                                                                         -->
<!-- Widget Server is Copyright 2014 Volary Foundation and Contributors      -->
<!--                                                                         -->
<!-- Widget Server is free software: you can redistribute it and/or modify it-->
<!-- under the terms of the GNU Affero General Public License as published   -->
<!-- by the Free Software Foundation, either version 3 of the License, or    -->
<!-- at your option) any later version.                                      -->
<!--                                                                         -->
<!-- Widget Server is distributed in the hope that it will be useful, but    -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of              -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU       -->
<!-- Affero General Public License for more details.                         -->
<!--                                                                         -->
<!-- You should have received a copy of the GNU Affero General Public        -->
<!-- License along with Widget Server.  If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                         -->
<!--=========================================================================-->
