
$step-size: 35;

.donation-widget {
  padding: 0;
  .faq-link {
    float: right;
    padding-right: 20px;
  }
  fieldset {
    padding: 0;
    margin: 0;
  }
  .divider strong {
    margin-top: 20px;
  }
  .lock {
    float: right;
    padding: 5px 15px;
    margin-right: 40px;
    color: rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    border-top: none;
    i {
      float: left;
      margin-right: 3px;
    }
  }
  .steps {
    background: $blue-light;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .inner {
      clear: both;
      width: 400px;
      margin: auto;
      overflow: auto;
      padding: 10px 40px 30px;
      div {
        position: relative;
        border: 2px solid rgba(0,0,0,0.3);
        border-radius: #{$step-size / 2}px;
        height: #{$step-size}px;
        width: #{$step-size}px;
        float: left;
        line-height: #{$step-size - 5}px;
        text-align: center;
        background: rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.5);
        i {
          display: none;
        }
        .step-info {
          visibility: hidden;
          position: absolute;
          top: 30px;
          left: -30%;
          font-size: 12px;
          font-weight: 700;
          color: $blue;
        }
        &.active {
          background: $blue-medium;
          color: #fff;
          .step-info {
            visibility: visible;
          }
          strong {
            display: none;
          }
          i.active {
            display: block;
            line-height: inherit;
          }
        }
        &.done {
          background: $blue-medium;
          border-color: $blue-medium;
          .step-info {
            visibility: visible;
          }
          strong {
            display: none;
          }
          i.active {
            display: none;
          }
          i.done {
            display: block;
            line-height: inherit;
          }
        }
      }
      & > span {
        margin-top: #{$step-size / 2}px;
        height: 2px;
        width: 33%;
        background: rgba(0,0,0,0.3);
        float: left;
        &.active {
          background: $blue-medium;
        }
      }
    }
  }
  .amount-section {
    clear: both;
    label {
      font-size: 16px;
      text-align: center;
      display: block;
      margin: 0 0 20px;
    }
    .divider {
      margin-bottom: 10px;
    }
    .amounts {
      overflow: auto;
      margin: 0 0 30px;
    }
    .amount {
      float: left;
      margin-bottom: 10px;
      span {
        display: block;
        padding: 10px 0;
        text-align: center;
        line-height: 30px;
        font-weight: 700;
        margin: 5px 10px;
        background: rgba(0,0,0,0.1);
        border-bottom: 2px solid rgba(0,0,0,0.3);
        border-radius: 5px;
        &:hover {
          background: $blue-medium;
          color: $white;
          cursor: pointer;
        }
      }
      &.active {
        span {
          background: $blue;
          color: $white;
        }
      }
    }
  }
  select {
    margin-bottom: 0;
  }
  .amount-meta {
    margin-top: 20px;
    @media #{$large-up} { margin-top: 100px;}
    fieldset {
      min-height: 40px;
    }
  }
  .next-steps {
    margin-top: 50px;
    .back {
      float: left;
    }
    .next {
      float: right;
    }
  }
}

.credit-card {
  padding: 20px 0;
  min-height: 200px;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 5px;
  @media #{$large-up} { margin-top: 30px;}

  .stripe {
    text-align: center;
    color: $blue;
    font-size: 12px;
    line-height: 30px;
    background: $blue-light;
    height: 30px;
  }
  .total {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: $blue;
  }
}

.card-details {
  padding: 20px 40px 60px 40px;
}
