.top-bar {
  border-bottom: 2px solid #ff00ff;
  li {
    border-bottom: 2px solid transparent;
  }
  li:hover {
    border-bottom: 2px solid #ff0000;
  }
  .right {
    border-left: 1px solid #fff;

    li {
      background: #f04124 !important;
    }
  }


  .button {
    height: $topbar-height;
    top: 0;
    padding-top: 12px;
  }
}
