.faq {
  text-align: center;
  .qa {
    margin-bottom: 10px;
  }
  h4 {
    color: $blue-medium;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 10px 0;
    border-bottom: 2px solid $blue-light;
    &:hover {
      color: $blue;
      cursor: pointer;
      small {
        color: $blue;
      }
    }
    small {
      color: $blue-medium;
      font-size: 85%;
    }
  }
  h4:after {
    color: rgba(0,0,0,0.2);
    content: "\f067";
    font-family: FontAwesome;
    font-weight: 300;
    margin-left: 20px;
    position: absolute;
    right: 40px;
    @media #{$small-only} {
      display: none;
    }
  }
  .open h4 {
    color: $gray;
    background: lighten( $blue-light, 5% );
    &:after {
      content: "\f068";
      font-family: FontAwesome;
      margin-left: 20px;
    }
    small {
      color: $gray;
    }
  }
  p {
    display: none;
  }
  .open p {
    display: block;
    padding: 20px 0;
    color: rgba(0,0,0,0.6);
  }
}
