

.video-widget {
  background: rgba(0,0,0,0.8);
  .inner {
    overflow-y: visible;
    text-align: center;
  }
  .close {
    i {
      color: $gray;
      background: $black;
      border-color: $gray;
    }
    &:hover {
      i {
        color: $white;
        background: $blue;
        border-color: $blue-medium;
      }
    }
  }
  iframe {
    margin: 0 auto;
    min-height: 400px;
  }
}
