.contact {
  background: darken( #a7a7a7, 10% );
  border-left: 1px solid lighten( #a7a7a7, 5% );
  border-right: 1px solid lighten( #a7a7a7, 5% );
  padding: 2em 0;
  header {
    text-align: center;
    margin-bottom: 1em;

    i {
       color:  rgba(255,255,255,0.9);
    }

    h3 {
      position: relative;
      color: rgba(0,0,0,0.6);
      font-weight: 700;
      margin-bottom: 25px;

      &:after {
        position: absolute;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: auto;
        width: 40px;
        height: 1px;
        background: rgba(255,255,255,0.9);
        content: "";
      }
    }
  }
}
